[submodule "mods/ambience"]
	path = mods/ambience
	url = https://notabug.org/TenPlus1/ambience
[submodule "mods/arrowboards"]
	path = mods/arrowboards
	url = https://cheapiesystems.com/git/arrowboards
[submodule "mods/bakedclay"]
	path = mods/bakedclay
	url = https://notabug.org/TenPlus1/bakedclay
[submodule "mods/basic_materials"]
	path = mods/basic_materials
	url = https://github.com/mt-mods/basic_materials
[submodule "mods/basic_signs"]
	path = mods/basic_signs
	url = https://github.com/mt-mods/basic_signs
[submodule "mods/bedrock"]
	path = mods/bedrock
	url = https://github.com/Calinou/bedrock
[submodule "mods/bees"]
	path = mods/bees
	url = https://notabug.org/TenPlus1/bees
[submodule "mods/biome_lib"]
	path = mods/biome_lib
	url = https://github.com/mt-mods/biome_lib
[submodule "mods/blox"]
	path = mods/blox
	url = https://github.com/mt-mods/blox
[submodule "mods/BobBlocks"]
	path = mods/BobBlocks
	url = https://github.com/minetest-mods/BobBlocks
[submodule "mods/bonemeal"]
	path = mods/bonemeal
	url = https://notabug.org/TenPlus1/bonemeal
[submodule "mods/caverealms_lite"]
	path = mods/caverealms_lite
	url = https://github.com/Ezhh/caverealms_lite
[submodule "mods/cblocks"]
	path = mods/cblocks
	url = https://notabug.org/TenPlus1/cblocks
[submodule "mods/coloredwood"]
	path = mods/coloredwood
	url = https://github.com/mt-mods/coloredwood
[submodule "mods/cottages"]
	path = mods/cottages
	url = https://github.com/Sokomine/cottages
[submodule "mods/currency"]
	path = mods/currency
	url = https://github.com/mt-mods/currency
[submodule "mods/datastorage"]
	path = mods/datastorage
	url = https://github.com/minetest-technic/datastorage
[submodule "mods/digidisplay"]
	path = mods/digidisplay
	url = https://cheapiesystems.com/git/digidisplay/
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines
[submodule "mods/digistuff"]
	path = mods/digistuff
	url = https://cheapiesystems.com/git/digistuff/
[submodule "mods/display_blocks_redo"]
	path = mods/display_blocks_redo
	url = https://cheapiesystems.com/git/display_blocks_redo/
[submodule "mods/dreambuilder_hotbar"]
	path = mods/dreambuilder_hotbar
	url = https://github.com/mt-mods/dreambuilder_hotbar
[submodule "mods/facade"]
	path = mods/facade
	url = https://github.com/TumeniNodes/facade
[submodule "mods/farming"]
	path = mods/farming
	url = https://notabug.org/TenPlus1/farming
[submodule "mods/framedglass"]
	path = mods/framedglass
	url = https://github.com/minetest-mods/framedglass
[submodule "mods/function_delayer"]
	path = mods/function_delayer
	url = https://github.com/HybridDog/function_delayer
[submodule "mods/gloopblocks"]
	path = mods/gloopblocks
	url = https://github.com/mt-mods/gloopblocks
[submodule "mods/ilights"]
	path = mods/ilights
	url = https://github.com/mt-mods/ilights
[submodule "mods/invsaw"]
	path = mods/invsaw
	url = https://cheapiesystems.com/git/invsaw/
[submodule "mods/item_drop"]
	path = mods/item_drop
	url = https://github.com/minetest-mods/item_drop
[submodule "mods/jumping"]
	path = mods/jumping
	url = https://github.com/minetest-mods/jumping
[submodule "mods/led_marquee"]
	path = mods/led_marquee
	url = https://github.com/mt-mods/led_marquee
[submodule "mods/locks"]
	path = mods/locks
	url = https://github.com/Sokomine/locks
[submodule "mods/maptools"]
	path = mods/maptools
	url = https://github.com/minetest-mods/maptools
[submodule "mods/memorandum"]
	path = mods/memorandum
	url = https://github.com/Mossmanikin/memorandum
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/minetest-mods/moreores
[submodule "mods/moretrees"]
	path = mods/moretrees
	url = https://github.com/mt-mods/moretrees
[submodule "mods/mymillwork"]
	path = mods/mymillwork
	url = https://github.com/laza83/mymillwork
[submodule "mods/new_campfire"]
	path = mods/new_campfire
	url = https://github.com/mt-mods/new_campfire
[submodule "mods/nixie_tubes"]
	path = mods/nixie_tubes
	url = https://github.com/mt-mods/nixie_tubes
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/mt-mods/pipeworks
[submodule "mods/plasticbox"]
	path = mods/plasticbox
	url = https://cheapiesystems.com/git/plasticbox/
[submodule "mods/prefab_redo"]
	path = mods/prefab_redo
	url = https://cheapiesystems.com/git/prefab_redo/
[submodule "mods/quartz"]
	path = mods/quartz
	url = https://github.com/minetest-mods/quartz
[submodule "mods/replacer"]
	path = mods/replacer
	url = https://github.com/ChaosWormz/replacer
[submodule "mods/rgblightstone"]
	path = mods/rgblightstone
	url = https://cheapiesystems.com/git/rgblightstone/
[submodule "mods/signs_lib"]
	path = mods/signs_lib
	url = https://github.com/mt-mods/signs_lib
[submodule "mods/simple_streetlights"]
	path = mods/simple_streetlights
	url = https://github.com/mt-mods/simple_streetlights
[submodule "mods/solidcolor"]
	path = mods/solidcolor
	url = https://cheapiesystems.com/git/solidcolor/
[submodule "mods/stained_glass"]
	path = mods/stained_glass
	url = https://github.com/minetest-mods/stained_glass
[submodule "mods/steel"]
	path = mods/steel
	url = https://github.com/mt-mods/steel
[submodule "mods/street_signs"]
	path = mods/street_signs
	url = https://github.com/mt-mods/street_signs
[submodule "mods/titanium"]
	path = mods/titanium
	url = https://github.com/HybridDog/titanium
[submodule "mods/travelnet"]
	path = mods/travelnet
	url = https://github.com/Sokomine/travelnet
[submodule "mods/minetest-ufos"]
	path = mods/minetest-ufos
	url = https://github.com/Zeg9/minetest-ufos/
[submodule "mods/unifiedbricks"]
	path = mods/unifiedbricks
	url = https://github.com/minetest-mods/unifiedbricks
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = https://github.com/mt-mods/unifieddyes
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/minetest-mods/unified_inventory
[submodule "mods/unifiedmesecons"]
	path = mods/unifiedmesecons
	url = https://cheapiesystems.com/git/unifiedmesecons/
[submodule "mods/windmill"]
	path = mods/windmill
	url = https://github.com/Sokomine/windmill
[submodule "mods/castle"]
	path = mods/castle
	url = https://github.com/minetest-mods/castle
[submodule "mods/cool_trees"]
	path = mods/cool_trees
	url = https://github.com/runsy/cool_trees/
[submodule "mods/homedecor_modpack"]
	path = mods/homedecor_modpack
	url = https://github.com/mt-mods/homedecor_modpack
[submodule "mods/home_workshop_modpack"]
	path = mods/home_workshop_modpack
	url = https://github.com/mt-mods/home_workshop_modpack
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "mods/plantlife_modpack"]
	path = mods/plantlife_modpack
	url = https://github.com/mt-mods/plantlife_modpack
[submodule "mods/roads"]
	path = mods/roads
	url = https://cheapiesystems.com/git/roads/
[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/minetest-mods/technic
[submodule "mods/worldedit"]
	path = mods/worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "mods/hangglider"]
	path = mods/hangglider
	url = https://github.com/mt-mods/hangglider
[submodule "mods/glooptest"]
	path = mods/glooptest
	url = https://github.com/minetest-mods/glooptest
[submodule "mods/pbj_pup"]
	path = mods/pbj_pup
	url = https://notabug.org/TenPlus1/pbj_pup
[submodule "mods/compost"]
	path = mods/compost
	url = https://github.com/minetest-mods/compost
[submodule "mods/hopper"]
	path = mods/hopper
	url = https://github.com/minetest-mods/hopper
[submodule "mods/moremesecons"]
	path = mods/moremesecons
	url = https://github.com/minetest-mods/MoreMesecons
[submodule "mods/vector_extras"]
	path = mods/vector_extras
	url = https://github.com/HybridDog/vector_extras
[submodule "mods/stamina"]
	path = mods/stamina
	url = https://github.com/minetest-mods/stamina
[submodule "mods/ethereal"]
	path = mods/ethereal
	url = https://notabug.org/TenPlus1/ethereal
[submodule "mods/sumpf"]
	path = mods/sumpf
	url = https://github.com/HybridDog/sumpf
[submodule "mods/glow-pack"]
	path = mods/glow-pack
	url = https://github.com/HybridDog/glow-pack
[submodule "mods/riesenpilz"]
	path = mods/riesenpilz
	url = https://github.com/HybridDog/riesenpilz
[submodule "mods/nether-pack"]
	path = mods/nether-pack
	url = https://github.com/HybridDog/nether-pack
[submodule "mods/smartfs"]
	path = mods/smartfs
	url = https://github.com/minetest-mods/smartfs
[submodule "mods/other_worlds"]
	path = mods/other_worlds
	url = https://notabug.org/TenPlus1/other_worlds
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/minetest-mods/3d_armor
[submodule "mods/mobs_redo"]
	path = mods/mobs_redo
	url = https://notabug.org/tenplus1/mobs_redo
[submodule "mods/mobs_animal"]
	path = mods/mobs_animal
	url = https://notabug.org/tenplus1/mobs_animal
[submodule "mods/mobs_monster"]
	path = mods/mobs_monster
	url = https://notabug.org/TenPlus1/mobs_monster
[submodule "mods/mobs_npc"]
	path = mods/mobs_npc
	url = https://notabug.org/TenPlus1/mobs_npc
[submodule "mods/mob_horse"]
	path = mods/mob_horse
	url = https://notabug.org/TenPlus1/mob_horse
[submodule "mods/mobs_water"]
	path = mods/mobs_water
	url = https://notabug.org/TenPlus1/mobs_water
[submodule "mods/creeper"]
	path = mods/creeper
	url = https://notabug.org/TenPlus1/creeper
[submodule "mods/dmobs"]
	path = mods/dmobs
	url = https://notabug.org/TenPlus1/dmobs
[submodule "mods/minetest_playereffects"]
	path = mods/minetest_playereffects
	url = https://repo.or.cz/minetest_playereffects.git
[submodule "mods/minetest_pep"]
	path = mods/minetest_pep
	url = https://repo.or.cz/minetest_pep.git
[submodule "mods/scifi_nodes"]
	path = mods/scifi_nodes
	url = https://github.com/D00Med/scifi_nodes
[submodule "mods/magma_conduits"]
	path = mods/magma_conduits
	url = https://github.com/minetest-mods/magma_conduits
[submodule "mods/dynamic_liquid"]
	path = mods/dynamic_liquid
	url = https://github.com/minetest-mods/dynamic_liquid
[submodule "mods/lakes"]
	path = mods/lakes
	url = https://github.com/Sokomine/lakes
[submodule "mods/hud_analog_clock"]
	path = mods/hud_analog_clock
	url = https://github.com/APercy/hud_analog_clock
[submodule "mods/minetest_treasurer"]
	path = mods/minetest_treasurer
	url = https://repo.or.cz/minetest_treasurer.git
